%div{style: 'float: left'}
  = image_tag 'http://gazetashans.ru/covers/pictures/674/main_Shans_03_01.jpg?1358486265', height: 218, width: 175

%div{style: 'float: right'}
  %h4{style: 'text-align: center'} «Шанс» — полезный рекламно-информационный еженедельник.
  %p{style: "text-align: justify"} В «Шансе» как в справочнике, можно быстро найти нужную информацию о товарах и услугах для вас и вашего дома. Изучить полезные советы для потребителей, познакомиться с мнениями специалистов в различных областях. А также посмотреть программу телепередач и почитать новости о жизни "звезд".
